/*main body, duh*/
table {
	border: 1px solid black;
	width: 100%;
}

body {
	background-color: #99cc99;
	font-family: sans-serif, arial;
}

td {
	height: 50px;
	width: 33%
}

thead {
	text-align: center;
	color: yellow;
	background-color: black;
}

.navbar {	
	background-color: #606060;
	text-align: center;
}

.main {
	background-color: #fdd5ca;
	height: 500px;
}

.sidebar {
	background-color: fff8e7;
}

/* {
    border: 2px dashed #3A5FCD;
}

*/
