#header {
	position:fixed;
		top:0px;
		left:0px;
	height:50px;
	width:100%;
	color:white;
}

.title {
	display:block;
	float:left;
	height:100%;
	width: 33.3333%;
	background-color:#89b7e5;
}
.nav {
	display:block;
	position:absolute;
	right:0px;
	height:100%;
	width:66.6666%;
	background-color:#ffcc99;
}

.button {
	position:relative;
	float:left;
	height:100%;
	width:50%;
	background-color:ffcc99;
	text-align:right;
}

#body {
	position:fixed;
		top:50px;
		left:0px;
		bottom:50px;
	height:100%;
	width:100%;
	background-color:#cce5ff;
	color:white;

}

#footer {
	position:fixed;
		bottom:0px;
		left:0px;
	height:20px;
	padding:15px;
	width:100%;
	background-color:#ffcc99;
	text-align:center;
	color:white;
}
